.profilebar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    width: 100%;
    border-bottom: 2px solid var(--accent-orange);
    box-sizing: border-box;
    gap: 1rem;
}

.profiledetails {
    display: flex;
    align-items: center;
}

.datePickerContainer {
    position: relative; 
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}
.profileimg {
  width: 60px;  
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  margin-left: 1rem;
  margin-bottom: 0;
  color: white;
}

.dateText {
  font-weight: bold;
  color: var(--text-default);
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  cursor: pointer;
  transition: 0.2;
}

.dateText:hover {
    background-color: rgba(0, 0, 0, 0.05);
    color: var(--accent-orange);
}

.usertext {
    font-weight: bold;
    color: var(--text-default);
    margin-left: 1rem;
}

.spacer {
    width: 60px;
}

.calendarIcon {
    font-size: 0.8rem;
}

.hiddenDateInput {
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    pointer-events: none;
    width: 100%;
    height: 100%;
    border: none;
    cursor: pointer;
    pointer-events: none;
}

@media (max-width: 600px) {
    .profilebar {
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .profiledetails {
        flex-direction: column;
        margin-bottom: 0.5rem;
    }

    .usertext {
        margin-left: 0;
    }
}